<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='css/style.css') }}">
</head>
<body>
    <p>Index Page</p>
    <div class="container">
        {% include "basic_menu/navbar.html" %}
        {% block content %}
        {% endblock %}
        <p>Daftar nama-nama barang :</p>
        <ol>
            {% for item in data.stock: %}
            <li>{{ item }}</li>
            {% endfor %}

            <p>harga :{{ data.harga }}</p>
        </ol>   
    </div>
    
</body>
</html>